## Test Report

The following images are the results of the automated testing performed for the `StringCryption` library.

#### StringManipulator class

![StringManipulator tests.](./img/StringManipulator-ClassTests.png)

#### Salt class

![Salt tests.](./img/Salt-ClassTests.png)

#### EncryptionCipher class

![EncryptionCipher Tests.](./img/EncryptionCipher-ClassTests.png)

#### Encryption class

![Encryption Tests](./img/Encryption-ClassTests.png)

#### StringCryption class

![StringCryption Tests.](./img/StringCryption-ClassTests.png)